.msg-disconnected{
    position: fixed;
    right: 0;
    bottom: 5%;
    z-index: 99;
    padding: 10px 50px 10px 70px;
    background: #ff5353;
    color:white;
    border-radius: 3px;
    letter-spacing: .1rem;
    font-weight: 600;
    font-size: 21px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
  }